@media(max-width: 1100px){
  /* navbar */
  .logo-and-category{
    margin-left: auto;
    padding-left: 3rem;
  }
  .logo{
    margin: auto;
  }
  .category, .search-and-cart-member{
    display: none;
  }
  .mobile-search-icon{
    display: block;
    height: fit-content;
    margin: 25px 10px 0px auto;
    border-style: none;
    background-color: transparent;
  }
  .hide{
    display: none;
  }
  .search-form-popup{
    display: flex;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  .search-form{
    margin-right: 20px;
  }
  .close-search-input{
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .close-search-input button{
    text-decoration: none;
    position: relative;
    left: 7px;
    top: 3px;
    border-style: none;
    background-color: transparent;
  }

  /* category */
  .black-blank{
    height: 50px;
    align-items: center;
  }
  .mobile-category{
    display: flex;
    width: 100%;
    max-width: 362px;
    margin: auto;
    padding: 10px;
    justify-content: space-evenly;
  }
  .mobile-category a{
    color: #828282;
    font-size: 17px;
    letter-spacing: 20px;
    font-weight: bold;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
  }
  .mobile-category a:hover{
    color: #ffffff;
  }
  .mobile-category .women-item::after, .mobile-category .man-item::after{
    content: '';
    color: #828282;
    height: 20px;
    border-right: 1px solid #828282;
    position: relative;
    left: 1.5%;
  }
  .quantity-title{
    display: none;
  }

  /* 美化主要頁面內容 */
  .product{
    padding-top: 0px;
  }
  .main-img{
    margin: auto;
    width: fit-content;
  }
  .product-info{
    display: block;
  }
  .product img, .product-detail-description img{
    width: 100%;
  }
  .product-detail-description img{
    width: 100%;
    max-width: 312px;
    max-height: 462px;
  }
  .product-info img{
    width: 100%;
    height: 100%;
  }
  .content{
    height: 65.2%;
  }
  .product-info-detail{
    width: 85%;
    max-width: 360px;
    margin: auto;
  }
  .name-id-price, .color-size-quantity, .product-detail-description{
    width: 100%;
    max-width: 312px;
  }
  .product-detail-description{
    width: 85%;
    max-width: 360px;
    margin: auto;
  }
  .name-id-price::after {
    content: '';
    background-color: #3f3a3a;
    display: inline-block;
    height: 1px;
    vertical-align: top;
    max-width: 360px;
    width: 100%;
  }
  .name{
    width: fit-content;
    height: 24px;
    font-family: NotoSansCJKtc;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #3f3a3a;
  }
  .id{
    width: 97px;
    height: 19px;
    font-family: NotoSansCJKtc;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.200000047683716px;
    text-align: left;
    color: #bababa;
  }
  .price{
    width: 83px;
    height: 24px;
    font-family: NotoSansCJKtc;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3f3a3a;
    margin-bottom: 10px;
  }

  /* 美化 顏色選擇 & 尺寸，數量 */
.choose-color, .choose-size, .choose-quantity{
  display: flex;
  align-items: center;
}
.color-group, .size-group{
  display: flex;
  margin: 0 auto 0 25px;
  height: 36px;
}
.size-group{
  max-width: 196px;
  width: fit-content;
  justify-content: space-between;
  margin-left: 35px;
}
.quantity-group{
  display: flex;
  max-width: 360px;
  border: 1px solid #979797;
  color: #979797;
  width: 100%;
  height: 44px;
  align-items: center;
  margin-left: 0;
}
.color-title::after, .size-title::after{
  content: '';
  color: #3f3a3a;
  height: 20px;
  border-right: 1px solid#3f3a3a;
  position: relative;
  left: 35.5%;
}
.color-btn{
  width: 24px;
  height: 24px;
  border-style: none;
  margin: 0;
}
.color-btn2{
  width: 24px;
  height: 24px;
  background-color: rgb(92, 43, 2);
  border-style: none;
  margin: 0;
}

.quantity-group input{
  border: 0;
  width: 100%;
  text-align: center;
}

.minus, .plus{
  width: fit-content;
  height: fit-content;
  margin-top: 2px;
}

/* 尺寸 */
.reminder{
  max-width: 360px;
  height: 44px;
  width: 100%;
  background-color: #000000;
  margin-top: 10px;
}
.add-to-cart{
  width: 100%;
    height: 30px;
    font-family: NotoSansCJKtc;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.875;
    letter-spacing: 3.200000047683716px;
    color: #ffffff;
    background-color: #000000;
    border-style: none;
    margin-top: 6px;
}

/* 產品note */
  .seperate-part{
    display: flex;
    align-items: center;
  }
  .seperate-line{
    max-width: 200px;
    width: 100%;
    height: 1px;
    margin: 0 auto 0 auto;
    background-color: #3f3a3a;
  }

.product-note{
  max-width: 312px;
  width: 100%;
  height: 192px;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7142857142857142;
  letter-spacing: normal;
  text-align: left;
  color: #3f3a3a;
}
.material{
  margin-top: auto;
  margin-bottom: auto;
}
.detail-title{
  max-width: 77px;
  height: 30px;
  font-family: NotoSansCJKtc;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.875;
  letter-spacing: 3.200000047683716px;
  text-align: left;
  color: #8b572a;
  width: 100%;
}
.detail-text{
  width: 100%;
  max-width: 312px;
  height: 125px;
  font-family: NotoSansCJKtc;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7142857142857142;
  letter-spacing: normal;
  text-align: left;
  color: #3f3a3a;
  margin-bottom: 0;
}
  /* cart and member */
  .mobile-cart-and-member{
    display: flex;
    justify-content: center;
    background-color: #313538;
    position: fixed;
    width: 100vw;
    height: 60px;
    bottom: 0;
  }
  .mobile-cart-and-member p{
    color: #ffffff;
    font-size: 16px;
  }

  .mobile-cart-icon, .mobile-member-icon{
    width: 130px;
    margin: 0 auto;
  }

  .mobile-cart-icon button, .mobile-member-icon button, .mobile-member-icon a{
    display: flex;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
  }
  .mobile-cart-icon img, .mobile-member-icon img{
    width: 44px;
    height: 44px;
    margin: auto 10px;
  }
  .divide-line{
    content: '';
    color: #828282;
    height: 35px;
    border-right: 1px solid #828282;
    position: relative;
    top: 15px;
  }
  .mobile-cart-icon div{
    display: flex;
  }
  .mobile-cart-icon a{
    text-decoration: none;
  }
  @media (min-width: 750px) {
    .quantity-in-cart{
      top: 15px;
      position: absolute;
      left: 22%;
      color: white;
      max-width: 25px;
      height: 25px;
      font-size: 10px;
      text-align: center;
      background-color: #EC5252;
      padding: 2px 8px;
      border-radius: 20px;
    }
  }
  @media(max-width: 749px) {
    .quantity-in-cart{
      top: 15px;
      position: absolute;
      left: 20%;
      color: white;
      max-width: 25px;
      height: 25px;
      font-size: 10px;
      text-align: center;
      background-color: #EC5252;
      padding: 2px 8px;
      border-radius: 20px;
    }
  }
  @media (max-width: 465px) {
    .quantity-in-cart{
      top: 15px;
      position: absolute;
      left: 15%;
      color: white;
      max-width: 25px;
      height: 25px;
      font-size: 10px;
      text-align: center;
      background-color: #EC5252;
      padding: 2px 8px;
      border-radius: 20px;
    }
  }

  /* footer */
  .web-footer{
    display: none;
  }
  .mobile-footer{
    display: block;
    padding: 20px 32px 20px 32px;
    background-color: #313538;
    max-width: 1920px;
    width: 100%;
    height: 260px;
  }
  .footer-wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    width: 100%;
    height: 120px;
    margin: 0 auto 0 auto;
    align-items: center;
  }

  /* footer information */
  .mobile-information{
    display: flex;
    max-width: 168px;
    width: 100%;
    justify-content: space-between;
  }

  .information-1, .information-2{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px 0;
  }
  .information-1 a, .information-2 a{
    margin: 3px 0
  }

  .information-1 a{
    max-width: 130px;
    width: fit-content;
  }

  .information-2, .information-2 a{
    max-width: 130px;
    width: fit-content;
  }

  .about-us::after, .service-term::after, 
  .privite-term::after, .contact-us::after,
  .fag::after{
    content: '';
    display: none;
    height: 20px;
    border-right: 1px solid #313538;
  }

  .social-media-icon{
    text-decoration: none;
    margin: 0 10px;
    max-width: 100px;
    width: 100%;
    height: fit-content;
  }
  .social-media-icon a{
    text-decoration: none;
    margin: 0 4px;
  }
  .social-media-icon img{
    max-width: 20px;
    max-height: 20px;
  }

  .copy-right{
    font-family: PingFangTC;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #828282;
  }
}

@media(max-width: 680px){
  .logo-and-category{
    padding-left: 3.6rem;
  }
}

@media(max-width: 430px){
  .logo-and-category{
    padding-left: 4.3rem;
  }
}